.navbar {
  margin: 0;
}
.ct-chart .ct-line {
  stroke-width: 2px;
  stroke: #fc4d1e !important;
}
.ct-chart .ct-point {
  stroke-width: 4px;
}
.ct-chart .ct-bar {
  stroke-width: 30px;
}
.ct-chart .ct-series.ct-series-a .ct-bar {
  stroke: #ec6230;
}
.ct-chart .ct-series.ct-series-b .ct-bar {
  stroke: #f9a444;
}
.chartTrans-enter {
  opacity: 0.01;
  transition: opacity 0.3s ease-in;
}
.chartTrans-enter.chartTrans-enter-active {
  opacity: 1;
}
.chartTrans-leave {
  opacity: 1;
  position: absolute !important;
  top: 0;
  transition: opacity 0.3s ease-in;
}
.chartTrans-leave.chartTrans-leave-active {
  opacity: 0.01;
}
.chartTransWrapper {
  position: relative;
}
.clear {
  clear: both;
}
.single-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn {
  user-select: none;
}
.fixCenter {
  position: fixed;
  left: 50%;
  top: 50%;
}
body {
  font-family: sans-serif;
  color: #27313d;
  background: #f9f4ed;
  font-size: 15px;
}
a {
  color: #5b83a8;
}
b {
  color: #27313d;
  font-weight: bold;
}
main {
  display: block;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'roboto slab';
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small {
  margin-left: 0.5em;
}
#main {
  margin-top: 50px;
}
#content {
  padding-top: 2em;
  overflow: auto;
  z-index: 1;
}
.toolbar {
  padding: 13px 0 12px;
  background-color: #88b862;
  color: #fff;
  border-bottom: 1px solid #ddd;
}
.toolbar:after {
  content: " ";
  display: table;
  clear: both;
}
.toolbar h3 {
  margin: 0.4em 0;
  font-weight: normal;
}
.toolbar h3 a {
  color: #333;
}
a.unstyled {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
a.unstyled:active,
a.unstyled:focus {
  outline: none;
}
.alert {
  margin: 0;
  border-radius: 0;
}
.empty-block {
  display: block;
  padding: 1em;
  margin: 1em 0;
  border: 1px dashed #ccc;
  color: #999;
  font-size: 13px;
  border-radius: 4px;
}
.btn-placeholder {
  color: #5b83a8;
}
.btn-placeholder:active {
  box-shadow: none;
}
.nav-pills-mini {
  margin: 2.1em 0.5em 1em 0;
  font-family: sans-serif;
}
.nav-pills-mini > li > a {
  font-size: 1.2rem;
  padding: 0.5em 0.9em 0.3em;
  line-height: 1;
  border-radius: 1.5em;
  color: #999;
  border: 1px solid #eee;
  margin-left: 0.3em;
  cursor: pointer;
}
.nav-pills-mini > li.active > a,
.nav-pills-mini > li > a:focus,
.nav-pills-mini > li > a:hover {
  color: #fff;
  background-color: #88b862 !important;
  border-color: #88b862 !important;
}
.navbar-brand {
  margin-left: 0;
  font-size: 16px;
  padding: 13px 20px 0 0;
}
.navbar-inner {
  background: #403f3d !important;
}
.navbar-brand {
  color: #ff7800 !important;
}
.navbar-nav > li.active:nth-child(1) > a {
  color: #e0955c;
}
.navbar-nav > li.active:nth-child(1):hover > a {
  color: #e0955c;
}
.navbar-nav > li.active:nth-child(2) > a {
  color: #88b862;
}
.navbar-nav > li.active:nth-child(2):hover > a {
  color: #88b862;
}
.tr {
  display: table-row;
}
.th,
.td {
  display: table-cell;
}
.table {
  font-size: 1.4rem;
  color: #666;
}
.table > thead {
  color: #999;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td {
  padding: 0.75em 1em;
}
.table > thead > tr > th,
.table > tbody > tr > th {
  font-weight: normal;
  color: #000;
  border-width: 1px;
}
.widget {
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}
.widget:hover {
  position: relative;
  z-index: 3;
  box-shadow: 0 1px 6px rgba(0,0,0,0.2);
}
.widget > .table {
  margin: 0;
}
.widget .widget-number {
  z-index: 3;
  position: relative;
}
.widget-header {
  color: #444;
  padding: 0.5em 1em 0.3em;
  position: relative;
  font-family: 'Roboto Slab', serif;
  white-space: nowrap;
}
.widget-header.size-l {
  padding: 1em 1.5em 1em;
  font-size: 1.3em;
}
.widget-header:after {
  display: block;
  content: '';
  position: absolute;
  right: 2px;
  top: 2px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 20px 0;
  border-color: transparent #88b862 transparent transparent;
}
.widget-header .nav-pills {
  font-size: 10px;
}
.widget-number {
  text-align: center;
  font-size: 5rem;
  line-height: 1;
  color: #777;
  font-family: 'Roboto Slab', serif;
  padding: 0.3em 0 0.8em;
  text-shadow: 0 0 10px #fff;
  font-weight: 300;
}
.widget-footer {
  padding: 0.8em 0;
  font-size: 0.9em;
  margin: 0 1.5em;
  color: #aaa;
  text-align: right;
  border-top: 1px solid #ddd;
}
.widget-more {
  margin-bottom: 0;
  text-align: center;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 15%;
  right: 15%;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  border-radius: 0 0 5px 5px;
  padding: 0.3em;
  cursor: pointer;
  transition: all 0.6s;
}
.widget:hover .widget-more {
  opacity: 1;
  transition: all 0.6s;
}
.home-header {
  padding: 30px 0;
  background-color: #e0955c;
  color: #fff;
  text-shadow: 0 2px 2px rgba(0,0,0,0.1);
  font-family: 'roboto slab';
}
.home-header h1 {
  font-weight: normal;
  letter-spacing: 1px;
  margin: 0.3em 0 0.4em;
}
.home-dashboard {
  display: flex;
  border-right: 1px solid #ddd;
}
.home-dashboard > div {
  width: 50%;
}
.home-dashboard .widget-number {
  font-size: 7rem;
  padding: 1em 0 0.5em;
}
.home-dashboard-sec {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2em;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.home-dashboard-sec > div {
  width: 25%;
}
.home-dashboard-sec .widget-number {
  padding: 0.5em 0 0.3em;
}
.home-dashboard .widget,
.home-dashboard-sec .widget {
  border-right: none;
  border-bottom: none;
}
.home-widget .ct-chart {
  opacity: 0.05;
  margin-top: -45%;
}
.home-widget:hover .ct-chart {
  opacity: 0.6;
}
.home-widget-sales > .widget-header:after {
  border-color: transparent #88b862 transparent transparent;
}
.home-widget-inventory > .widget-header:after {
  border-color: transparent #4db5ea transparent transparent;
}
.home-widget-customer > .widget-header:after {
  border-color: transparent #ff625a transparent transparent;
}
.home-widget-product > .widget-header:after {
  border-color: transparent #d08ddc transparent transparent;
}
.home-widget-employee > .widget-header:after {
  border-color: transparent #4380c8 transparent transparent;
}
.sales-dashboard {
  display: flex;
  margin-bottom: 2em;
}
.sales-dashboard .dashboard-main {
  flex-grow: 1;
}
.sales-dashboard .dashboard-main h3 {
  float: left;
  padding: 0 0 0 1em;
}
.sales-dashboard .dashboard-main .nav-pills-mini {
  float: right;
}
.sales-dashboard .dashboard-sider {
  flex-grow: 0;
}
.sales-dashboard .dashboard-sider .table thead {
  display: none;
}
.sales-dashboard .dashboard-sider .table td:nth-child(3) {
  color: #900;
  font-weight: bold;
}
.sales-dashboard .widget {
  margin: 0 10px 10px 0;
}
.sales-dashboard .chart-revenue {
  padding-left: 6em;
}
.sales-dashboard .table-revenue {
  font-size: 1.5rem;
  color: #666;
}
.sales-dashboard .table-revenue > thead > tr > th,
.sales-dashboard .table-revenue > tbody > tr > th {
  padding-left: 2em;
  width: 11em;
  border-width: 1px;
}
.sales-dashboard .table-revenue > tbody > tr:nth-child(1) {
  color: #f9a444;
}
.sales-dashboard .table-revenue > tbody > tr:nth-child(2) {
  color: #ec6230;
}
