body
  font-family: sans-serif
  color: #27313D
  background: #F9F4ED
  font-size: 15px

a
  color: #5B83A8

b
  color: #27313D
  font-weight: bold

main
  display: block

h1, h2, h3, h4, h5
  font-family: 'roboto slab'

  small
    margin-left: 0.5em
