#main
  margin-top: 50px

#content
  padding-top: 2em
  overflow: auto
  z-index: 1

.toolbar
  clearfix()
  padding: 13px 0 12px
  background-color: $green
  color: #fff
  border-bottom: 1px solid #ddd

  h3
    margin: 0.4em 0
    font-weight: normal
    a
      color: #333
