.home-header
  padding: 30px 0
  background-color: $orange
  color: #fff
  text-shadow: 0 2px 2px rgba(#000,0.1)
  font-family: 'roboto slab'

  h1
    font-weight: normal
    letter-spacing: 1px
    margin: 0.3em 0 0.4em


.home-dashboard
  display: flex
  border-right: 1px solid #ddd

  > div
    width: 50%

  .widget-number
    font-size: 7rem
    padding: 1em 0 0.5em



.home-dashboard-sec
  display: flex
  flex-wrap: wrap
  margin-bottom: 2em
  border-right: 1px solid #ddd
  border-bottom: 1px solid #ddd

  > div
    width: 25%

  .widget-number
    padding: 0.5em 0 0.3em


.home-dashboard, .home-dashboard-sec
  .widget
    border-right: none
    border-bottom: none


.home-widget
  .ct-chart
    opacity: 0.05
    margin-top: -45%

  &:hover .ct-chart
    opacity: 0.6

.home-widget-sales     > .widget-header:after {     border-color: transparent $green  transparent transparent }
.home-widget-inventory > .widget-header:after {     border-color: transparent #4DB5EA transparent transparent }
.home-widget-customer  > .widget-header:after {     border-color: transparent #FF625A transparent transparent }
.home-widget-product   > .widget-header:after {     border-color: transparent #D08DDC transparent transparent }
.home-widget-employee  > .widget-header:after {     border-color: transparent #4380C8 transparent transparent }
