.sales-dashboard
  display: flex
  margin-bottom: 2em

  .dashboard-main
    flex-grow: 1

    h3
      float: left
      padding: 0 0 0 1em

    .nav-pills-mini
      float: right

  .dashboard-sider
    flex-grow: 0


    .table
      thead
        display: none

      td:nth-child(3)
        color: #990000
        font-weight: bold

  .widget
    margin: 0 10px 10px 0


  .chart-revenue
    padding-left: 6em

  .table-revenue
    font-size: 1.5rem
    color: #666

    > thead, > tbody
      > tr
        > th
          padding-left: 2em
          width: 11em
          border-width: 1px

    > tbody > tr:nth-child(1)
        color: #F9A444
    > tbody > tr:nth-child(2)
        color: #EC6230
