.nav-pills-mini
  margin: 2.1em 0.5em 1em 0
  font-family: sans-serif

  > li > a
    font-size: 1.2rem
    padding: 0.5em 0.9em 0.3em
    line-height: 1
    border-radius: 1.5em
    color: #999
    border: 1px solid #eee
    margin-left: 0.3em
    cursor: pointer

  > li.active > a, > li > a:focus, > li > a:hover
    color: #fff
    background-color: $green !important
    border-color: $green !important
