.navbar-brand
  margin-left: 0
  font-size: 16px
  padding: 13px 20px 0 0

.navbar-inner
  background: #403F3D !important

.navbar-brand
  color: #FF7800 !important

.navbar-nav
  > li.active:nth-child(1) > a       { color: $orange }
  > li.active:nth-child(1):hover > a { color: $orange }
  > li.active:nth-child(2) > a       { color: $green }
  > li.active:nth-child(2):hover > a { color: $green }
