.tr
  display: table-row

.th, .td
  display: table-cell


.table
  font-size: 1.4rem
  color: #666

  > thead
    color: #999

  > thead, > tbody
    > tr
      > th, > td
        padding: 0.75em 1em

      > th
        font-weight: normal
        color: #000
        border-width: 1px