.widget
  background: #fff
  border: 1px solid #ddd
  box-shadow: 0 1px 1px rgba(0,0,0,.05)

  &:hover
    position: relative
    z-index: 3
    box-shadow: 0 1px 6px rgba(#000,0.2)

  > .table
    margin: 0


  .widget-number
    z-index: 3
    position: relative



.widget-header
  color: #444
  padding: 0.5em 1em 0.3em
  position: relative
  font-family: 'Roboto Slab', serif;
  white-space: nowrap

  &.size-l
    padding: 1em 1.5em 1em
    font-size: 1.3em

  &:after
    display: block
    content: ''
    position: absolute
    right: 2px
    top: 2px

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 20px 0;
    border-color: transparent $green transparent transparent;

  .nav-pills
    font-size: 10px


.widget-number
  text-align: center
  font-size: 5rem
  line-height: 1
  color: #777
  font-family: 'Roboto Slab', serif;
  padding: 0.3em 0 0.8em
  text-shadow: 0 0 10px #fff

  font-weight: 300

.widget-footer
  padding: 0.8em 0
  font-size: 0.9em
  margin: 0 1.5em
  color: #aaa
  text-align: right
  // background-color: #f5f5f5
  border-top: 1px solid #ddd

.widget-more
  margin-bottom: 0
  text-align: center
  // display: none
  opacity: 0
  position: absolute
  top: 100%
  left: 15%
  right: 15%
  background: #fff
  border: 1px solid #ddd
  box-shadow: 0 1px 2px rgba(0,0,0,.1)
  border-radius: 0 0 5px 5px
  padding: 0.3em
  cursor: pointer
  transition: all 0.6s

  .widget:hover &
    opacity: 1
    transition: all 0.6s


